# Build results
[Bb]in/
[Oo]bj/

# User specific files
*.suo
*.user
.vs

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*

# Others
.axoCover
~$*
*~
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
*.swp
/*.xml
